a.sc_codes_whats {
    color: inherit !important;
    transition: all ease-in-out 2s !important;
    -webkit-transition: all ease-in-out 2s !important;
    -moz-transition: all ease-in-out 2s !important;
}
a.sc_codes_whats:hover {
    zoom: 1.05;
}
.awesome-iframe .widget-position-right.bubbleWithLabel .widgetLabel {
    right: 91px;
}
.awesome-iframe .bubbleWithLabel .widgetLabel {
    bottom: 26px;
}
awesome-iframe .widget-position-right .widgetLabel {
    right: 100px;
}
.awesome-iframe .widgetLabel {
    bottom: 61px;
    transition-property: opacity;
    box-shadow: rgb(0 18 46 / 18%) 0px 2px 20px 0px;
}
.widget-position-right .widgetLabel {
    right: 100px;
}
.widgetLabel {
    position: absolute;
    height: 42px;
    bottom: 61px;
    z-index: 1;
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    border-radius: 16px;
    padding: 10px 15px;
    box-shadow: rgb(0 18 46 / 24%) 0px 6px 32px 0px;
    background: rgb(255, 255, 255);
}
button {
    font-family: inherit;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    color: rgb(6, 19, 43);
}
button, button.material-icons {
    background: none;
    border: 0px;
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0px;
    user-select: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.widgetLabel {
    position: absolute;
    height: 42px;
    bottom: 61px;
    z-index: 1;
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    border-radius: 16px;
    padding: 10px 15px;
    box-shadow: rgb(0 18 46 / 24%) 0px 6px 32px 0px;
    background: rgb(255, 255, 255);
}
#button {
    position: absolute;
    width: 112px;
    height: 140px;
    bottom: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
    right: 0px;
}
.awesome-iframe .onlyBubble #button, .awesome-iframe .bubbleWithLabel #button {
    height: 94px;
    width: 94px;
    bottom: 0px;
}
#button:not(.sidebar) .buttonWave {
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
}
#button-body {
    width: 60px;
    height: 60px;
    border-radius: 28px;
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: initial;
    background-size: 130% 130%;
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    color: rgb(0, 125, 252);
}
#button:not(.sidebar).clicked .buttonWave::after {
    animation: 0.5s ease-out 0s 1 normal none running buttonWave;
}
#button:not(.sidebar) .buttonWave::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(20, 127, 255);
    opacity: 0.5;
}
#button-body::before {
    content: "";
    transition: opacity 0.5s ease-in-out 0s;
    position: absolute;
    inset: -1px;
    opacity: 0;
    border-radius: 50%;
    background-color: rgb(198, 204, 220);
}
